<h1>Admin Dashboard</h1>
  <div class="order-summary jumbotron">
    <h3>Total products: <%= @product_count %> </h3>
    <p><%= link_to 'View all products', :admin_products %></p>
    <h3>Total categories: <%= @category_count %></h3>
    <p><%= link_to 'View all categories' %></p>
  </div>
